body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    
  }
  

  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .map-section {
    padding: 30px;
  }

  .sectionAcc {
    display: none;
  }
  .sectionAcc.active {
    display: block;
  }

  .flextwo {
    display: flex;
    flex-direction:column;
    margin-top: 10px;
  }
  /* flex-direction column - everything is a section down the /page
  flex-direction row - everything is a section across the /page */

  img {
    height: auto;
    width: 100%;
  }